<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ID4me.RP.Client" version="0.0.5" targetFramework="net452" />
  <package id="jose-jwt" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RestSharp" version="106.6.9" targetFramework="net452" />
  <package id="Ubiety.Dns" version="1.0.0" targetFramework="net452" />
</packages>